<Router AppAssembly="typeof(Startup).Assembly">

    <Found>
        <RouteView RouteData="@context" DefaultLayout="typeof(AdminLayout)"></RouteView>
    </Found>

    <NotFound>
        <h4 class="bf-danger text-white text-center">No Matching Route Found</h4>
    </NotFound>

</Router>