@{
    ViewData["Title"] = "Book View";
}

@model BooksViewModel

@foreach (Book b in Model.Books)
{
    <partial name="ProjectSummary" model="b" />
}

    <div page-model="@Model.PageInfo" page-action="Index" page-class="btn"
         page-class-normal="btn-outline-drk" page-class-selected="btn-primary" page-classes-enabled="true"
         class="btn-group pull-right m-1"></div>

